import "./news-header.less";

<header class="header-container">
  <div class="header-logo">
    <img class="logo" src="/marko.svg" alt="Marko News logo" />
    <h3>Marko News</h3>
  </div>

  <nav class="header-nav" aria-label="Main navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
